<!DOCTYPE html>
<html>
    <header><%= image_tag("logo.jpg", :alt => "logo") %></header>
<a href="/index/homepage">Home</a>
<a href="/index/newcomments">Comments</a>
<a href="/index/submit">Submit</a>
<a href="/users/login">Login</a>
<br>
  <body>
      <b>Jeremy Menegatos: s3541335</b><br>
      <b>Marcel Nowosiak: </b>
  </body>  
<footer>
    <a href="/index/about">About</a>
    <a href="/index/json">API</a>
</footer>
</html>
</html>