
<!DOCTYPE html>
<html>
  <%= stylesheet_link_tag "application" %>
  <header>
<a href="/index/homepage">Home</a>
<a href="/index/newcomments">Comments</a>
<a href="/index/submit">Submit</a>
<a href="/users/login">Login</a>
</header>
<image>
<%= image_tag("logo.jpg", :alt => "logo") %>
</image>
<br>
<body>
<b>Post API: url/v0/posts</b><br>
<b>User API: url/v0/users</b><br>
<b>Comment API: url/v0/comments</b><br>
</body>
<footer>
    <a href="/index/about">About</a>
    <a href="/index/json">API</a>
  
</footer>
</html>


